* {
    /*padding: 0;*/
    /*pa-left: 20px;*/
    /*margin-right: 20px;*/
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: #FAFAFA;
  }
  .header{
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .margin-left{
    width: 7%;
  }
  .margin-right{
    width: 7%;
  }
  .nav {
    height: 80px;
    width: 86%;
    padding-top: 20px;
  }
  .logo {
    font-size: 32px;
    font-family: 'Oleo Script', cursive;
  }
  .nav ul {
    float: right;
    justify-content: space-between;
  }
  .nav ul li {
    display: inline-block;
  }
  
  .nav ul li a.active {
    transition: 5s;
    color: #2549d3;
  }
  .nav ul li a:hover {
    color: #2549d3;
    font-weight: bold;
  }
  .nav-items{
    padding: 15px;
    font-size: 20px;
    color: black;
  }
  .get-started {
    border-radius: 10px;
    padding: 15px;
    background-color: #2549d3;
    color: white !important;
    margin-left: 200px;
  }
  /* NAVBAR END */
  
  .container {
    background-color: whitesmoke;
    width: 100%;
  }
  .subheading1{
    width: 100%;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    text-align: left;
  }
  .section1{
    width: 43%;
    /*padding: 30px;*/
    /*color: #0F298B;*/
    /*color: #FAFAFA*/
  }
  #header-text{
    color: #0F298B;
    font-size: 45px;
    letter-spacing: 2px;
    font-weight: bold;
  
  }
  #subheader-text{
    font-size: 25px;
  }
  .custom-button{
    color: white;
    background-color: #2549d3;
    border-radius: 12px;
    padding: 15px;
    border-color: transparent;
    text-align: center;
    
  }
  .section2{
    width: 43%;
  }
  .divider{
    width: 100%;
    border-top: 2px solid lightgray;
  
  }
  .buttons{
    display: flex;
    flex-direction: row;
  }
  .play-button{
    margin-left: 60px;
  }
  /* SEARCH SECTION */
  .search-product{
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .product-margin{
    width: 10%
  }
  .search{
    width: 80%;
    background-color: white;
    display: flex;
    border-radius: 5px;
    flex-direction: row;
    margin-top: 20px;
  }
  .select-items{
    width: 25%;
    justify-content: center;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
    color: #2549d3;
  }

  /* OUR PRODUCTS */
  .products-heading {
    color: #0F298B;
    text-align: left;
    width: 100%;
    margin-left: 8%;
    font-size: 45px;
    letter-spacing: 2px;
  }
   .product-subheading {
    text-align: center;
    font-size: 35px;
    color: #0F298B;
    letter-spacing: 2px;
    width: 100%;

   }
   .product-text{
    text-align: center;
    font-size: 25px;
    width: 100%;
    color: black;
   }
  .select-items{
    width: 100%;
    height: auto;
    text-align: center;
    flex-direction: row
    display: flex;
    
  }
  .location{
    width: 30%;
    
  }
.how-it-works{
  width: 100%;
  margin-left: 10%;
  margin-top: 2rem;
  height: 400px;
  flex-direction: row;
  display: flex;

}
.findHome{
  width: 30%;
  margin-right: 4%;
  background-color: #FAFAFA;
  font-size: 17px;
  text-align: center;
}
.makePayment{
  width: 40%;
  margin-right: 4%;
  background-color: #FAFAFA;
  font-size: 17px;
  text-align: center;
}
.make-official{
  width: 30%;
  background-color: #FAFAFA;
  font-size: 17px;
  text-align: center;
}
/* DEAR ESTEEMED CUSTOMER SECTION START*/
.sec3 {
  width: 100%;
  flex-direction: row;
  display: flex;
  margin-left: 10%;
}
.esteemedCustomer {
  color: #0f298b;
  width: 100%;
  font-size: 22px;
  text-align: center;
}
.subText {
  color: black;
  font-size: 17px;
  text-align: center;
}
.secText {
  width: 25%;
  background-color: #FAFAFA;
  margin-right: 5%;
}
.viewMore {
  background-color: #2549d3;
  float: right;
  padding: 10px;
  border-radius: 15px;
  color: white;
  border-color: transparent;
  margin-right: 5rem;
  margin-top: 1rem;
}
/* DEAR ESTEEMED CUSTOMER SECTION END*/
/* FOOTER SECTION START*/
.footer {
  width: 100%;
  flex-direction: row;
  display: flex;
  margin-right: 3rem;
  background-color: #2549D3;
  margin-top: 4rem;
  color: white;
}
.footerBox {

  margin-left: 10%;
  width: 20%;
  margin-left: 5%;
}
/* FOOTER SECTION END*/